@charset "UTF-8";
/* Add your custom CSS declarations below  */

.loginbackground {
    background-image: url(/_images/jmubackground.png);
    background-position: left;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 220px;
    margin-top: 30px;
}

#login {
    color: black;
    font-size: 3px;
}

.btn-primary {
    font-family: 'Raleway', sans-serif;
    background-color: #73637F;
    border: none;
}

    .btn-primary:hover {
        color: white;
        background-color: #9D87AE;
    }

    .btn-primary:visited {
        color: white;
        background-color: #9D87AE;
    }


.btn-outline-primary, .btn-outline-secondary {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    color: black;
}

    .btn-outline-primary:hover, .btn-outline-secondary:hover {
        color: white;
        background-color: #9D87AE;
    }

    .btn-outline-primary:active, .btn-outline-secondary:active {
        color: white;
        background-color: #9D87AE;
    }

#errorlabel {
    font-family: 'Roboto', sans-serif;
}

.form-control {
    font-family: 'Roboto', sans-serif;
    color: #B2B2B2;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
}

a.nav-link {
    color: black;
}

.fa-user {
    font-size: 20px;
}

.dropdown-item {
    font-family: 'Raleway', sans-serif;
}

.headertext {
    font-size: 18px;
}

.internships, .jobs {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

.type {
    font-size: 12px;
}

.opportunitydetails {
    font-size: 15px;
    line-height: 0.3cm;
}


.fa-facebook-f {
    font-size: 25px;
    color: #73637F;
    padding-right: 10px;
}


#sticky-footer {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 0.2cm;
}
